html,
body {
  height: 100%;
  background-color: #285da2;
}

.main-title {
  text-transform: uppercase;
  font-family: "Raleway", sans-serif !important;
  margin: 0 0 30px 0 !important;
  color: #fff !important;
}

p {
  font-weight: 300;
  color: skyblue;
}

.warning-content {
  position: absolute;
  top: 25%;
  width: 100%;
  height: 300px;
  text-align: center;
  margin: 0;
}

.CAS_button.dark {
  padding: 10px 20px;
  border-radius: 0;
  border: none;
  color: blue;
  font-family: "Raleway";
  font-weight: 300;
  border: 1px solid #edebebf7;
}
.CAS_button.dark:hover {
 font-weight: 600;
}
form .CAS_button.light, .CAS_button.light {
  padding: 10px 20px;
  border-radius: 0;
  background: blue;
  /* border: none; */
  font-family: "Raleway";
  font-weight: 300;
  border: 1px solid #edebebf7;
  color: white;
  margin-top: 15px;
}
.CAS_button:hover{
  font-weight: 600;
}

.inquiry-construction .modal-dialog {
  width: 700px;
  margin: 30px auto;
}

.text-white{color: white;}
form {

  padding:20px;
  margin:0 auto;
  background:#ffffff59; 
 text-align: left;
 width: 60%;
}

form input {
  border:1px solid #eee;
  border-radius:0 !important;
  padding:5px 8px;
  color:#444;
}

.pull-right {
  float:right;
}
input, optgroup, select, textarea, .form-control{
  display: block;
  padding: 10px;
  width: 100%;
  border: 1px solid #edebebf7;
  border-radius: 0px;
  box-shadow: none;
}
.construction-page .modal-header {
  padding: 15px 30px;}
  .construction-page  .modal-title {
    display: inline-block;
    float: left;
}
.construction-page  .modal-header .close {
  margin-top: 18px;
}
