html,
body {
  height: 100%;
  background-color: white;
}

.main-title {
  text-transform: uppercase;
  font-family: "Raleway", sans-serif !important;
  margin: 0 0 30px 0 !important;
  color: #fff !important;
}

p {
  font-weight: 300;
  color: skyblue;
}

.warning-content {

  width: 100%;
  text-align: center;
  margin: 0;
}

.CAS_button.dark {
  padding: 10px 20px;
  border-radius: 0;
  border: none;
  color: blue;
  font-family: "Raleway";
  font-weight: 300;
  border: 1px solid #edebebf7;
}
.CAS_button.dark:hover {
 font-weight: 600;
}
form .CAS_button.light, .CAS_button.light {
  padding: 10px 20px;
  border-radius: 0;
  background: white;
  /* border: none; */
  font-family: "Raleway";
  font-weight: 600;
  border: 1px solid #edebebf7;
  color: #285da2;
  margin-top: 15px;

}
.CAS_button:hover{
  font-weight: 600;
}

.inquiry-construction .modal-dialog {
  width: 700px;
  margin: 30px auto;
}

.text-white{color: white;}
.cyber-logo{    margin: 30px 0;}
.cyber-services-form {

  padding:20px;
  margin:20px auto;
  background:#285DA2; 
 text-align: left;
 width: 60%;
}
.cyber-services-form h2{text-transform: uppercase; padding-bottom: 0px; text-align: center;font-size: 24px;}
form input {
  border:1px solid #eee;
  border-radius:0 !important;
  padding:5px 8px;
  color:#444;
}
.form-group label { color: white; font-family: "Raleway", sans-serif !important;font-weight: 300;}
.pull-right {
  float:right;
}
input, optgroup, select, textarea, .form-control{
  display: block;
  padding: 10px;
  width: 100%;
  border: 1px solid #edebebf7;
  border-radius: 0px;
  box-shadow: none;
}
.construction-page .modal-header {
  padding: 15px 30px;}
  .construction-page  .modal-title {
    display: inline-block;
    float: left;
}
.construction-page  .modal-header .close {
  margin-top: 18px;
}

.cyber-logo img{width: 80%;}
.align-center{text-align: center;}

.copyright
{
  padding: 15px 0;
  text-align: center;
  color: white;
}
.address{color: white;padding-top: 30px;}
.address h4{color: white;}
.footer{font-size:14px;background-color: #285DA2;padding:20px 0;color: white;}
.footer .footer-logo p{padding-top:20px;color:gray;text-align:justify;font-size:12px;padding-right:45px;}
.footer .icon{font-size:24px;line-height:0;}
.footer h4{font-size:16px;font-weight:bold;position:relative;padding-bottom:15px;color:white;text-transform:uppercase;padding-right: 15px;}
.footer .footer-links{margin-bottom: 15px;color: gray;padding: 0;}
.footer .footer-links ul{list-style:none;padding:0;margin:0;}
.footer .footer-contact ul i{padding-right:15px;font-size:var(--body-font);color:white;}
.footer .footer-contact ul p{padding-right:5px;margin-bottom:0;color: white;}
.footer .footer-links ul li{padding:10px 0;display:flex;align-items:center;align-items:flex-start;}
.footer .footer-links ul li:first-child{padding-top:0;}
.footer .footer-links ul a{color:gray;transition:0.3s;display:inline-block;line-height:1;padding-left:8px;}
.footer .footer-links ul .bi-chevron-right{font-size:10px;}
.footer .footer-links ul a:hover{color:var(--color-secondary);}
.footer .social-links a{display:flex;align-items:center;justify-content:center;width:40px;height:40px;border-radius:50%;
 font-size:16px;color:white;margin-right:10px;transition:0.3s;}
.footer .social-links a:hover{transform:scale(1.1);}
.footer .copyright{text-align:center;padding-top:30px;border-top:1px solid rgba(255,255,255,0.1);}
.footer .credits{padding-top:4px;text-align:center;font-size:13px;}
.footer .credits a{color:#fff;}
.footer .social-links{
  justify-content: flex-end;
}
.social-media.social-links a{display:flex;align-items:center;justify-content:center;width:40px;height:40px;border-radius:50%;
    font-size:16px;color:white;margin-right:10px;transition:0.3s;}
.social-media.social-links a:hover{transform:scale(1.1);}
.support-png-thumb{width: 80%;
    position: relative;
    bottom: -20%;
    right: -10%;}
    .d-flex{display: flex;}
    /* social media color */
 .twitter{background:#00acee;}
 .facebook{background:#113682;}
 .linkedin{background:#0072b1;}
 .instagram{background:radial-gradient(circle farthest-corner at 35% 90%,#fec564,transparent 50%),radial-gradient(circle farthest-corner at 0 140%,#fec564,transparent 50%),radial-gradient(ellipse farthest-corner at 0 -25%,#5258cf,transparent 50%),radial-gradient(ellipse farthest-corner at 20% -50%,#5258cf,transparent 50%),radial-gradient(ellipse farthest-corner at 100% 0,#893dc2,transparent 50%),radial-gradient(ellipse farthest-corner at 60% -20%,#893dc2,transparent 50%),radial-gradient(ellipse farthest-corner at 100% 100%,#d9317a,transparent),linear-gradient(#6559ca,#bc318f 30%,#e33f5f 50%,#f77638 70%,#fec66d 100%);}
/* ---------------------------------------- */

.header
{
  background-color: #285DA2;
}
.top-header{border-bottom:1px solid #21252914;padding:12px 0;margin-bottom:8px;}
.top-header .top-header .contact-info{line-height:30px;}
.top-header .Email,.top-header .Phone{padding-right:30px;font-size:14px;color: white;position:relative;line-height: 30px;}
.top-header .Email::after{content:"";border-right:1px solid var(--color-default);position:absolute;right:10px;height:75%;margin:0;top:50%;transform:translateY(-50%);}
.top-header .Email i,.top-header .Phone i{padding-right:5px;color: white;font-size:14px;}
.header .social-links a{display:flex;align-items:center;justify-content:center;width:30px;height:30px;border-radius:50%;font-size:14px;color: white;margin-right:10px;transition:0.3s;}
.header .social-links a:hover{transform:scale(1.1);}
.float-left{float: left;}
.float-right{float: right;}
.header-logo{
  color: white;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 600;
  font-family: 'Raleway';
}
.justify-content-end{justify-content: end;}
